:root {
  --bg-main: #020f16;
  --bg-sec: #0c171c;
  --bg-sec-light: #17242b;
  --accent-clr: #fa8b26;
  --font-clr: #eeeeee;
  --font-clr-btn: #ffffff;
  --scroll-clr: #8d9599;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-main) !important;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0;
  background-color: var(--bg-main) !important;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.04rem;
  color: var(--font-clr);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--scroll-clr) var(--bg-sec);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.3rem;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-clr);
  border-radius: 0.6rem;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

#container {
  position: relative;
  max-width: 2000px;
  padding: 0 0 2.5rem;
  margin: 0 auto;
  /* overflow-x: hidden; */
}

nav {
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 2.5%;
  height: 2.5rem;
  z-index: 2;
  background-color: var(--bg-main);
  box-shadow: 0 0.25rem 0.4rem 0 rgba(0, 0, 0, 0.2);
}

#nav-left {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

#menu {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

#cross-icon {
  display: none;
}

#jkb-logo-menu {
  display: none;
}

#menu-icon {
  display: none;
}

#menu > li > a {
  text-decoration: none;
  cursor: pointer;
  color: var(--font-clr-btn);
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
}

#courses > img {
  transform: scale(0.8) translateY(-0.1rem);
}

.rotatearrow {
  rotate: 180deg;
  transform: scale(0.8) translateY(0.1rem) !important;
}

#menu > li:nth-of-type(2) {
  position: relative;
}

#dropdown {
  position: absolute;
  left: 0;
  top: 2rem;
  font-size: 1rem;
  width: max-content;
  background-color: var(--bg-sec-light);
  border-radius: 0.5rem;
  overflow: hidden;
}

.hidden {
  max-height: 0;
  transition: max-height ease-in-out 0.3s;
}

.show {
  max-height: 30rem;
  transition: max-height ease-in-out 0.3s;
}

#dropdown > a {
  display: block;
  color: var(--font-clr-btn);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem 0.75rem;
}

#dropdown > a:hover {
  background-color: #1c2a31;
  color: var(--accent-clr);
}

#menu > li > a:hover {
  background-color: var(--accent-clr);
  border-radius: 0.2rem 0.6rem;
}

#courses {
  background-color: var(--accent-clr);
  border-radius: 0.2rem 0.6rem;
}

#jkb-logo {
  height: 2.2rem;
  width: 3.8rem;
}

#social {
  display: flex;
  background-color: var(--bg-sec);
  border-radius: 1.25rem;
  width: 15rem;
  height: 2.4rem;
  justify-content: space-around;
  align-items: center;
}

.social-icons {
  height: 1.75rem;
  width: 1.75rem;
  margin: 0 0.25rem;
}

#phone {
  display: none;
}

#overlay {
  inset: 0;
  position: fixed;
  display: none;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Predict college page content */
#video-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-clr);
  padding: 5rem 0 1.25rem;
}

#video-div video {
  width: 50%;
  height: auto;
  border-radius: 1.25rem;
  object-fit: cover;
}

#predict-div {
  display: flex;
  flex-direction: column;
  /* padding: 2.5rem 0; */
  margin-top: 2.5rem;
}

#predict-div div {
  display: flex;
  justify-content: center;
  text-align: center;
}

#predict-div-1 {
  font-size: 1.1rem;
}

#predict-div-2 {
  color: var(--accent-clr);
  font-weight: bolder;
  font-size: 2rem;
  margin-top: 1rem;
}

#predict-div-3 {
  margin-top: 1.25rem;
  gap: 2.5rem;
  flex-wrap: wrap;
}

#predict-div-3 button {
  background-color: var(--accent-clr);
  color: var(--font-clr-btn);
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 1rem;
  height: 2.5rem;
  border: 0;
  margin: 0.4rem 0;
  width: 26rem;
  cursor: pointer;
}

/* This is to give black opacity */
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}

.showoverlay {
  opacity: 1;
  z-index: 3;
}

.predict-clg-popup,
.college-list-popup {
  border: 0.15rem solid var(--accent-clr);
  background-color: var(--bg-main);
  max-width: 90%;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 2rem;
  position: absolute;
  inset: 5% 5% auto;
  z-index: 4;
  transform: translateY(-200%);
  transition: transform ease-in-out 0.3s;
}

.show-score-popup,
.show-college-list-popup {
  transform: translateY(0);
  transition: transform ease-in-out 0.3s;
}

.popup-top {
  display: grid;
  grid-template-columns: 1fr 10%;
}

.popup-head {
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--accent-clr);
  font-weight: bolder;
}

#predict-heading span {
  color: var(--font-clr-btn);
}

.cross-btn {
  margin-left: auto;
  font-size: 2.5rem;
  line-height: 2rem;
  cursor: pointer;
}

#predict-college-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

#predict-college-form label {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 2.5rem;
}

#predict-college-form input,
#predict-college-form select {
  border: 0;
  width: 100%;
  border-radius: 0.8rem;
  padding: 0.6rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-sec-light);
  text-overflow: ellipsis;
  outline: none;
}

#exam-input select {
  width: 28%;
  margin-right: 0.4rem;
}

#exam-input input {
  width: 70%;
}

#predict-college-form > div:last-of-type {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

#predict-btn {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  color: var(--font-clr-btn);
  background-color: var(--accent-clr);
  border: none;
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
}

/* .submission-form {
  border: 2px solid red;
  position: absolute;
  left: 25%;
  width: 18cm;
  height: 2cm;
  background-color: white;
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -130%;
  transform: translate(0, 0%);
  transition: 3s;
}

.show-submit-form-pop-up {
  top: 9%;
  z-index: 3;
} */

/* College list Styling */

#college-list-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

#college-list-form label {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 2.5rem;
}

#college-list-form input,
#college-list-form select {
  border: 0;
  width: 100%;
  border-radius: 0.8rem;
  padding: 0.6rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-sec-light);
  text-overflow: ellipsis;
  outline: none;
  box-sizing: border-box;
}

#college-list-form > div:last-of-type {
  grid-row-start: 4;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

#search-clg-btn {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  color: var(--font-clr-btn);
  background-color: var(--accent-clr);
  border: none;
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
}

/* Display college by score popup */
.shortlist-clg,
.shortlist-clg-new {
  border: 0.15rem solid var(--accent-clr);
  height: 85vh;
  border-radius: 1rem;
  background-color: var(--bg-main);
  box-sizing: border-box;
  padding: 2rem;
  position: absolute;
  inset: 10vh 5% auto;
  z-index: 4;
  display: grid;
  grid-template-columns: 1fr;
  transform: translateY(-200%);
  transition: transform ease-in-out 0.3s;
}

.shortlist-clg {
  grid-template-rows: auto auto 1fr;
}

.shortlist-clg-new {
  grid-template-rows: auto 1fr;
}

.show-shortlist-clg,
.show-shortlist-clg-new {
  transform: translateY(0);
  transition: transform ease-in-out 0.3s;
}

#sort-btns {
  /* margin: 1.4rem 0; */
  margin-top: 1.4rem;
  display: flex;
  gap: 2rem;
}

.sortbtn {
  background-color: var(--accent-clr);
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  font-weight: bolder;
  cursor: pointer;
}

#shortlist-clg-names,
#shortlist-clg-names-new {
  margin-top: 1.5rem;
  overflow: auto;
}

#shortlist-clg-names ul,
#shortlist-clg-names-new ul {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 0.2rem 0.6rem 0;
  background-color: var(--bg-sec);
  height: 2rem;
  line-height: 1.3rem;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 0.5rem;
}

#shortlist-clg-title,
#shortlist-clg-title-new {
  color: var(--accent-clr);
  font-weight: bolder;
  font-size: 0.9rem !important;
}

.shortlist-clg-list > li,
.shortlist-clg-list-new > li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.sr-no {
  width: 5%;
}

.college-code {
  width: 5%;
  margin: 0 0.3rem;
}

.college-name {
  width: 47%;
}

.branch-name {
  width: 28%;
  margin: 0 0.3rem;
}

.fees-name {
  width: 5%;
}

.location {
  width: 12%;
  margin: 0 0.3rem;
}

.score {
  width: 8%;
}

/* Display college by district popup */
.srno {
  width: 5%;
}

.uni {
  width: 17%;
  margin: 0 0.3rem;
}

.locn {
  width: 12%;
}

.clgcode {
  width: 6%;
  margin: 0 0.3rem;
}

.cname {
  width: 40%;
}

.ctype {
  width: 12%;
  margin: 0 0.3rem;
}

.fees {
  width: 8%;
}

/* Info */
#second-wrapper {
  min-height: 15rem;
  margin: 2rem 2.5%;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 55% 1fr;
}

#wrap-left {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.achievements {
  display: grid;
  text-align: center;
  grid-template-rows: 44% 19% 40%;
  background-color: var(--bg-sec-light);
  border-radius: 2rem;
}

.achievements img {
  object-fit: contain;
  margin: auto auto 0;
  transform: scale(0.7);
}

.achievements div {
  font-size: 1.25rem;
  font-weight: bolder;
  margin: auto;
  color: var(--accent-clr);
}

.achievements p {
  font-weight: bold;
  margin: 0.5rem auto auto;
  line-height: 1.3rem;
}

#wrap-right {
  box-sizing: border-box;
  padding: 1.25rem 1.6rem;
  border-radius: 1.25rem;
  background-color: var(--bg-sec);
}

#wrap-right > ul {
  margin-left: 1.3rem;
}

#wrap-right > ul > li {
  list-style-type: disc;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1900px) {
  html {
    font-size: 20px;
  }
}

@media only screen {
  /* For Tablet View */
  @media (max-width: 1200px) {
    html {
      font-size: 13px;
    }

    #container {
      padding: 0 0 3rem;
    }

    nav {
      justify-content: flex-start;
      height: 4rem;
    }

    #nav-left {
      width: 100%;
      justify-content: space-between;
    }

    #menu-icon {
      display: block;
      width: 2.5rem;
      min-width: 2rem;
      aspect-ratio: 1/1;
      cursor: pointer;
    }

    #jkb-logo {
      margin-right: auto;
      width: clamp(3.33rem, 4.5rem, 4.7rem);
      height: 2.5rem;
      aspect-ratio: 1.7;
    }

    #social {
      height: 3rem;
      width: 18rem;
    }

    .social-icons {
      height: 2rem;
      width: 2rem;
    }

    #phone {
      display: block;
    }

    #overlay {
      inset: 0;
      position: fixed;
      display: none;
      z-index: 3;
      background-color: rgba(0, 0, 0, 0.6);
    }

    #menu {
      background-color: var(--bg-sec-light);
      position: fixed;
      inset: 0 60% 0 0;
      display: block;
      z-index: 5;
      flex-direction: column;
      overflow-y: auto;
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
    }

    #menu::-webkit-scrollbar {
      width: 0 !important;
    }

    .showmenu {
      transform: translateX(0);
      transition: transform ease-in-out 0.15s;
    }

    .hidemenu {
      transform: translateX(-100%);
      transition: transform ease-in-out 0.15s;
    }

    #cross-icon {
      display: block;
      margin: 1.2rem;
      height: 2.5rem;
      width: 2.5rem;
      cursor: pointer;
    }

    #jkb-logo-menu {
      display: block;
      margin: 2rem auto 1rem;
      height: 5rem;
      width: 8rem;
    }

    #menu > li {
      margin: 4rem 1.5rem;
    }

    #menu > li > a {
      font-size: 1.25rem;
    }

    #menu > li > a:active {
      color: var(--accent-clr);
    }

    #menu > li > a:hover {
      background-color: transparent;
      color: var(--accent-clr);
    }

    #courses {
      padding-bottom: 0.5rem;
    }

    #dropdown {
      position: static;
      box-sizing: border-box;
      background-color: transparent;
    }

    #dropdown > a {
      font-size: 0.9rem;
      padding-left: 2rem;
    }

    #dropdown > a:hover {
      background-color: transparent;
    }

    #dropdown > a:first-of-type {
      padding-top: 2rem;
    }

    #dropdown > a:last-of-type {
      padding-bottom: 0;
    }

    #courses {
      background-color: var(--bg-sec-light);
      color: var(--accent-clr) !important;
    }

    /* Predict college page content */
    #video-div {
      padding-top: 6rem;
    }

    #video-div video {
      width: 70%;
    }

    #predict-college-form {
      grid-template-columns: 1fr;
      overflow-y: auto;
    }

    #college-list-form {
      grid-template-columns: 1fr;
    }

    #college-list-form > div:last-of-type {
      grid-row-start: 6;
    }

    /* Info */
    #second-wrapper {
      grid-template-columns: 1fr;
      margin: 3rem 2.5%;
    }

    #wrap-left {
      height: 15rem;
      grid-row-start: 2;
    }

    .achievements {
      margin: 0 auto;
      width: 16rem;
      grid-template-rows: 50% 15% 35%;
    }

    #wrap-right p {
      font-size: 1rem;
    }

    #wrap-right > ul > li {
      font-size: 1rem;
    }

    @media (max-width: 768px) {
      #predict-div-3 {
        gap: 1rem;
      }

      /* Info */
      #wrap-left {
        height: 13rem;
      }

      .achievements {
        margin: 0;
        width: auto;
        grid-template-rows: 45% 15% 40%;
      }

      .achievements img {
        transform: scale(0.6);
        margin-bottom: 1.2rem;
      }

      .achievements div {
        margin-bottom: 0;
      }
    }

    /* For Mobile View */
    @media (max-width: 600px) {
      html {
        font-size: 13px;
      }

      #menu {
        inset: 0 30% 0 0;
      }

      /* Predict college page content */
      #video-div video {
        width: 95%;
      }

      #predict-div-3 {
        gap: 0.6rem;
      }

      #exam-input select {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.5rem;
      }

      #exam-input input {
        width: 100%;
      }

      /* Info */
      #wrap-left {
        gap: 1rem;
        height: 100%;
        grid-template-columns: repeat(4, 1fr);
      }

      .achievements {
        grid-column: span 2;
      }

      .achievements:last-child {
        grid-column: 2/4;
      }

      .achievements img {
        transform: scale(0.5);
      }

      .achievements div {
        font-size: 1.3rem;
      }

      .achievements p {
        font-size: 1rem;
      }

      #wrap-right p {
        font-size: 1rem;
      }

      #wrap-right > ul > li {
        font-size: 1rem;
      }

      @media (max-width: 400px) {
        html {
          font-size: 11px;
        }

        @media (max-width: 300px) {
          html {
            font-size: 10px;
          }
        }
      }
    }
  }
}
