<div id="container">

  {{> navbar }}

  <section id="about-sec">
    <div id="about-heading">About Us</div>
    <p class="para">
      Welcome to JKB Educational Institute, the epitome of excellence and
      empowerment in the field of engineering education in India. Led by the
      visionary director and esteemed tutor, Mr. Vinayak Shete, we are driven by
      a singular mission to uplift and empower the country's youth. Since our
      establishment in 2011, we have continuously evolved, creating a nurturing
      environment and providing outstanding facilities for our students'
      holistic development.
    </p>

    <div id="grid-container">
      <div class="card">
        <div class="photo-box"></div>
        <div>
          <div class="name">Prof Vinayak Shete</div>
          <div class="post">Director</div>
          <div class="about">
            Mr. Vinayak Shete, the visionary director and esteemed lecturer at
            JKB Educational & IT Services, has positively influenced the lives
            of thousands of aspiring engineers with his vast teaching experience
            and deep-rooted passion for yoga and meditation.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="photo-box"></div>
        <div>
          <div class="name">Prof N H Dubey</div>
          <div class="post">Author</div>
          <div class="about">
            Prof. N H Dubey is a renowned Author who has written many textbooks
            like Engg. Mechanics, and Engg. Drawing/Graphics. With his vast
            teaching experience and expertise, he has left a lasting impact on
            the engineering journey of numerous students.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="photo-box"></div>
        <div>
          <div class="name">Ms Poonam</div>
          <div class="post">Director</div>
          <div class="about">
            Director at JKB & Trainer of Cloud Computing & DevOps Courses, A
            seasoned cloud development consultant with extensive expertise in
            architecting scalable and secure cloud solutions, providing
            strategic guidance to businesses for optimal cloud adoption and
            maximizing operational efficiency.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="photo-box"></div>
        <div>
          <div class="name">Amol More</div>
          <div class="post">Professor</div>
          <div class="about">
            Amol Mane, an Engineering Graduate from VJTI, Mumbai is an expert
            faculty who provides coaching for Ist year Engg. subjects and
            competitive exams like GATE. Moreover, he is a working professional
            in the construction industry.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="photo-box"></div>
        <div>
          <div class="name">Abhishek Satre</div>
          <div class="post">Sr Manager (Full Stack Dev)</div>
          <div class="about">
            Abhishek Satre is a Sr. Manager having 6+ years of working
            experience in the IT industry as a Full-Stack Web Developer. He is a
            master trainer for the Industrial Courses at JKB.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="photo-box"></div>
        <div>
          <div class="name">Anand Dubey</div>
          <div class="post">Sr Manager (Mobile App Dev)</div>
          <div class="about">
            Anand Dubey is a working IT professional and an expert Mobile
            Application Developer. Moreover, he is a master trainer for the
            Industrial Courses at JKB.
          </div>
        </div>
      </div>
    </div>

    <div class="para">
      <p>
        At JKB, we believe in delivering the best learning experiences with
        renowned authors like Prof. N H Dubey, ensuring comprehensive study
        materials and ample growth opportunities for our students. With Mr.
        Vinayak Shete's vast teaching experience, we have positively influenced
        the lives of thousands of aspiring engineers. Moreover, as a testament
        to our commitment to excellence, we cater to the needs of studying
        various programming languages and offer corporate linguistic training.
        <br /><br />
        Beyond academics, we embrace spirituality and mindfulness. Mr. Vinayak
        Shete is actively associated with The Art Of Living Foundation and
        serves as a dynamic youth teacher at the AOL. His deep-rooted passion
        for yoga and meditation resonates within the fabric of our institute,
        fostering a harmonious and balanced educational experience. <br /><br />
        As you explore our website, you will witness the remarkable success
        stories that our institute has nurtured, leaving an indelible mark on
        the educational landscape. Join us at JKB Educational Institute, where
        knowledge meets inspiration, and dreams turn into reality. Together, Let
        Us Embark on a Transformative Journey of Education and Empowerment.
      </p>
    </div>
  </section>
</div>
<script src="/js/script.js"></script>