<div id="container">

  {{> navbar }}

  <div id="first-wrapper">
    <div id="video-sec">
      <!-- <div> -->
      <video controls poster="/images/jkb-thumbnail.png">
        <source src="https://jkbstaticservices2.s3.ap-south-1.amazonaws.com/videos/Engg.+Admission+Counseling.mp4"
          type="video/mp4" />
      </video>
      <!-- </div> -->
    </div>
    <div class="text-4xl font-medium flex jutify-center p-2 text-center">
      <div> Engineering Admission Process 2024</div>
    </div>

    <div id="info-sec">

      <ul>
        <div class="text-2xl font-medium flex jutify center p-2 text-center sm:hidden">
          Engineering Admission Counseling for
          Mumbai , Pune & all university of Maharashtra
        </div>
        <div class="flex jutify center p-2 text-center flex-col mb-6 mt-2 sm:hidden">
          <div class="py-4 text-3xl text-[#fa8b26] font-normal">Not Sure which College?</div>
          <div><a href="./predict-college" draggable="false">
              <button class=" px-6 py-2 bg-[#fa8b26] text-2xl rounded-lg font-semibold">Predict Engg.
                College</button></a></div>
        </div>
        <div
          class="flex flex-col justify-center items-start space-y-4 text-start pb-2 text-base sm:px-0 px-4 font-normal sm:font-semibold sm:space-y-4">

          <div>350+ Engineering Colleges in Entire Maharashtra</div>
          <div>65+ Colleges RANKING in Mumbai University</div>
          <div>120+ Colleges RANKING in Pune University</div>
          <div class="">25+ Branches (CSE vs IT vs AI ML vs AI DS vs IoT)</div>
          <div>Grade & Placement Location & Hostel</div>
          <div>CAP Rounds, Cut-off, OPTION Form & All Documents</div>
          <div>ARC, SC Center, E - Scrutiny</div>
          <div>1st Year Engineering & 4 Years of Journey</div>

        </div>

      </ul>
      <div id="img-text-div">
        <div>
          <img src=".//images/calender.png" alt="calender" />
          <span>College Ranking Seminar / Webinar</span>
        </div>
        <div>
          <img src=".//images/clock.png" alt="clock" />
          <span>Fees / Distance / Travel Time / Hostel Admission to Placement
            Journey</span>
        </div>
        <div>
          <img src=".//images/msg.png" alt="msg" />
          <span>TFWS & EWS Seats</span>
        </div>
      </div>
    </div>
    <div class="space-x-4" id="enroll-sec">
      <div class="hidden sm:block">
        <a class='' href="./predict-college" draggable="false">
          <button class="py-5 px-12 sm:px-10 sm:py-3" id="contact-us-btn" {{!-- onclick="showContact()" --}}
            type="button">
            Predict Engineering College
          </button>
        </a>
      </div>
      <div>
        <a class='' href="https://student.jkbeducation.com/signup">
          <button class="py-5 px-12 sm:px-10 sm:py-3" id="contact-us-btn" {{!-- onclick="showContact()" --}}
            type="button">
            Enroll Now
          </button>

        </a>
      </div>
    </div>
  </div>

  <div class="w-full flex flex-col sm:flex-row mt-4 px-8">
    <div class="flex flex-row w-full space-x-4  sm:space-x-6 justify-around sm:mr-4 mb-4">
      <div class="achievements   flex-1  sm:w-full ">
        <img src="/images/counselling.png" />
        <div data-count="45000">0</div>
        <p>Counselling<br />Students</p>
      </div>
      <div class="achievements  flex-1  sm:w-full">
        <img src="/images/students.png" />
        <div data-count="10000">0</div>
        <p>Students<br />Trained</p>
      </div>
      <div class="achievements  flex-1  sm:w-full">
        <img src="/images/startup.png" />
        <div data-count="250">0</div>
        <p>Start-Up<br />Projects<br />Completed</p>
      </div>
    </div>
    <section id="wrap-right">
      <ul>
        <li>
          1. 1st-Year : Foundation Programming (Independent Learner)
          <p>
            Master the academic subjects with amazing exam strategies to secure
            best grades/pointers.
          </p>
        </li>
        <li>
          2. 2nd-Year : Competitive Programming & Aptitude for Placement
          <p>
            Focus on competitive programming and aptitude test preparation for
            achieving premium placements.
          </p>
        </li>
        <li>
          3. 3rd-Year : Industrial Course Training
          <p>
            Gain expertise in various industrial skills through expert training
            provided by JKBian (Ex-Student) industrial masters having 35+LPA
            packages.
          </p>
        </li>
        <li>
          4. Projects and Mastermind for Startup
          <p>
            Engage in national as well as international level competitions and
            build your startup while completing your degree or planning for MS
            in Abroad or Government Job.
          </p>
        </li>
      </ul>
  </div>



  <div id="testimonials">
    <h1>Testimonials</h1>
    <div id="videos">
      <div class="video-box">
        <iframe src="https://www.youtube.com/embed/G5g8Gfo8Qc8/?loop=1&rel=0&fs=0&modestbranding=1"></iframe>
        <!-- <div>Chiranjiv Nagrajan</div> -->
      </div>
      <div class="video-box">
        <iframe src="https://www.youtube.com/embed/MbP4Nq-ngQU/?loop=1&rel=0&fs=0&modestbranding=1"></iframe>
        <!-- <div>Pranil Balshankar</div> -->
      </div>
      <div class="video-box">
        <iframe src="https://www.youtube.com/embed/YD0qA5g5Evo/?loop=1&rel=0&fs=0&modestbranding=1"></iframe>
        <!-- <div>Shravan Chilka</div> -->
      </div>
      <div class="video-box">
        <iframe src="https://www.youtube.com/embed/4Gg0j29m1CY/?loop=1&rel=0&fs=0&modestbranding=1"></iframe>
        <!-- <div>Darshana Nikam</div> -->
      </div>
      <div class="video-box">
        <iframe src="https://www.youtube.com/embed/_ee8q5YHW1c/?loop=1&rel=0&fs=0&modestbranding=1"></iframe>
        <!-- <div>Harshal Bhoir</div> -->
      </div>
      <div class="video-box">
        <iframe src="https://www.youtube.com/embed/AjplxM1tgd4/?loop=1&rel=0&fs=0&modestbranding=1"></iframe>
        <!-- <div>Vishwas Paighan</div> -->
      </div>
    </div>
  </div>

  <div id="contact-popup">
    <span id="contact-head">Contact Us</span>
    <span id="cross">&times;</span>
    <form id="contact-form">
      <div>
        <label>Name</label><br />
        <input type="text" placeholder="Click here to enter Name" name="name" />
      </div>
      <div>
        <label>Phone Number</label><br />
        <input type="number" placeholder="Click here to enter Contact Number" name="phone" />
      </div>
      <div>
        <label>Email ID</label><br />
        <input type="email" placeholder="Click here to enter Email" name="email" />
      </div>
      <div>
        <label>Address</label><br />
        <input type="text" placeholder="Click here to enter Address" name="address" />
      </div>
      <div>
        <label>Purpose</label><br />
        <input type="text" placeholder="Click here to enter Purpose" name="purpose" />
      </div>
      <div>
        <button type="submit">Submit Details</button>
      </div>
      <div></div>
    </form>
  </div>
</div>
<script src="/js/script.js"></script>