<div id="container">

  {{> navbar }}

  <div id="first-wrapper">
    <div id="video-sec">
      <video controls poster="/images/jkb-thumbnail.png">
        <source src="" type="video/mp4" />
      </video>
    </div>
    <div id="heading-sec">{{ heading }}</div>
    <div id="info-sec">
      <ul>
        <li>
          Start your engineering journey with mastering your 1st engineering subjects
          and securing great grades.
        </li>
        <li>
          Receive master guidance and coaching along with strategies like 32-in-60 that
          will help you in safeguarding maximising your grades.
        </li>
        <li>
          Along with the subjects, learn the strategies to study the without any
          external help in the future.
        </li>
        <li>
          Start with the basic programming concepts from the 1st year itself to develop
          a strong foundation for placement training & industrial training.
        </li>
      </ul>
      <div id="img-text-div">
        <div>
          <img src="/images/calender.png" alt="calender" />
          <span>All Engineering Subjects</span>
        </div>
        <div>
          <img src="/images/clock.png" alt="clock" />
          <span>Strategies: 32-in-60</span>
        </div>
        <div>
          <img src="/images/msg.png" alt="msg" />
          <span>Learn Self-Learning Techniques</span>
        </div>
      </div>
    </div>
    <div id="enroll-sec">
      <button id="contact-us-btn" onclick="showContact()" type="button">
        Enroll Now
      </button>
    </div>
  </div>

  <div id="middle-wrapper">
    <div>Coaching in 1st Year to Premium Placement in Final Year : 4 Years of Mentorship</div>
  </div>

  <div id="second-wrapper">
    <section id="wrap-left">
      <div class="achievements">
        <img src="/images/counselling.png" />
        <div>45,000+</div>
        <p>Counselling<br />Students</p>
      </div>
      <div class="achievements">
        <img src="/images/students.png" />
        <div>10,000+</div>
        <p>Students<br />Trained</p>
      </div>
      <div class="achievements">
        <img src="/images/startup.png" />
        <div>250+</div>
        <p>Start-Up<br />Projects<br />Completed</p>
      </div>
    </section>
    <section id="wrap-right">
      <ul>
        <li>
          1. 1st-Year : Foundation Programming (Independent Learner)
          <p>
            Master the academic subjects with amazing exam strategies to secure
            best grades/pointers.
          </p>
        </li>
        <li>
          2. 2nd-Year : Competitive Programming & Aptitude for Placement
          <p>
            Focus on competitive programming and aptitude test preparation for
            achieving premium placements.
          </p>
        </li>
        <li>
          3. 3rd-Year : Industrial Course Training
          <p>
            Gain expertise in various industrial skills through expert training
            provided by JKBian (Ex-Student) industrial masters having 35+LPA
            packages.
          </p>
        </li>
        <li>
          4. Projects and Mastermind for Startup
          <p>
            Engage in national as well as international level competitions and
            build your startup while completing your degree or planning for MS
            in Abroad or Government Job.
          </p>
        </li>
      </ul>
    </section>
  </div>

  <div id="testimonials">
    <h1>Testimonials</h1>
    <div id="videos">
      <div class="video-box">
        <iframe src="https://www.youtube.com/embed/G5g8Gfo8Qc8/?loop=1&rel=0&fs=0&modestbranding=1"></iframe>
        <!-- <div>Chiranjiv Nagrajan</div> -->
      </div>
      <div class="video-box">
        <iframe src="https://www.youtube.com/embed/MbP4Nq-ngQU/?loop=1&rel=0&fs=0&modestbranding=1"></iframe>
        <!-- <div>Pranil Balshankar</div> -->
      </div>
      <div class="video-box">
        <iframe src="https://www.youtube.com/embed/YD0qA5g5Evo/?loop=1&rel=0&fs=0&modestbranding=1"></iframe>
        <!-- <div>Shravan Chilka</div> -->
      </div>
      <div class="video-box">
        <iframe src="https://www.youtube.com/embed/4Gg0j29m1CY/?loop=1&rel=0&fs=0&modestbranding=1"></iframe>
        <!-- <div>Darshana Nikam</div> -->
      </div>
      <div class="video-box">
        <iframe src="https://www.youtube.com/embed/_ee8q5YHW1c/?loop=1&rel=0&fs=0&modestbranding=1"></iframe>
        <!-- <div>Harshal Bhoir</div> -->
      </div>
      <div class="video-box">
        <iframe src="https://www.youtube.com/embed/AjplxM1tgd4/?loop=1&rel=0&fs=0&modestbranding=1"></iframe>
        <!-- <div>Vishwas Paighan</div> -->
      </div>
    </div>
  </div>

  <div id="contact-popup">
    <span id="contact-head">Contact Us</span>
    <span id="cross">&times;</span>
    <form action="" id="contact-form">
      <div>
        <label>Name</label><br />
        <input type="text" placeholder="Click here to enter Name" class="contact-input" />
      </div>
      <div>
        <label>Phone Number</label><br />
        <input type="text" placeholder="Click here to enter Contact Number" class="contact-input" />
      </div>
      <div>
        <label>Email ID</label><br />
        <input type="email" placeholder="Click here to enter Email" class="contact-input" />
      </div>
      <div>
        <label>Address</label><br />
        <input type="text" placeholder="Click here to enter Address" class="contact-input" />
      </div>
      <div>
        <label>Purpose</label><br />
        <input type="text" placeholder="Click here to enter Purpose" class="contact-input" />
      </div>
      <div>
        <button>Submit Details</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/script.js"></script>