<div id="container">

  {{> navbar }}

  <div id="video-div">
    <video controls poster="/images/jkb-thumbnail.png">
      <source src="https://jkbstaticservices2.s3.ap-south-1.amazonaws.com/videos/Engg.+Admission+Counseling.mp4"
        type="video/mp4" />
    </video>
  </div>

  <div class="overlay"></div>

  <div id="predict-div">
    <div id="predict-div-1">Not sure which college you will get admission?</div>
    <div id="predict-div-2">Predict Your Engginering College</div>
    <div id="predict-div-3">
      <button class="" id="predict-college-btn">
        Predict Your Engg College By JEE/CET Score
      </button>
      <button id="list-of-college-btn">
        List of Engg Colleges in Your District
      </button>
    </div>
  </div>

  <div class="predict-clg-popup">
    <div class="popup-top">
      <div id="predict-heading" class="popup-head">
        Predict your Engg College By <span>JEE/CET</span> Score:
      </div>
      <div id="cross1" class="cross-btn">&times;</div>
    </div>

    <form id="predict-college-form">
      <div id="name-input">
        <label>Name</label><br />
        <input type="text" placeholder="Click here to enter Name" id="name" />
      </div>
      <div id="mail-input">
        <label>Email id</label><br />
        <input type="email" placeholder="Click here to enter Email" id="mail" />
      </div>
      <div id="contact-number-input">
        <label>Contact Number</label><br />
        <input type="number" placeholder="Click here to enter Contact Number" id="contact" />
      </div>
      <div id="address-input">
        <label>Candidate's Address (Area & City)</label><br />
        <input type="text" placeholder="Click here to enter Address" id="address" />
      </div>
      <div id="exam-input">
        <label id="exam-label">Exam Type</label><br />
        <select id="exam">
          <option>MHT-CET</option>
          <option>JEE</option>
        </select>
        <input type="number" placeholder="Click here to enter your Score" id="score" />
      </div>
      <div id="university-input">
        <label>University</label><br />
        <select id="university">
          <option value="Dr. Babasaheb Ambedkar Marathwada University">
            Dr. Babasaheb Ambedkar Marathwada University [Aurangabad]
          </option>
          <option value="Gondwana University">
            Gondwana University [Chandrapur]
          </option>
          <option value="Kavayitri Bahinabai Chaudhari North Maharashtra University">
            Kavayitri Bahinabai Chaudhari North Maharashtra University [Jalgaon]
          </option>
          <option value="Mumbai University">Mumbai University [Mumbai]</option>
          <option value="Punyashlok Ahilyadevi Holkar University">
            Punyashlok Ahilyadevi Holkar University [Solapur]
          </option>
          <option value="Rashtrasant Tukadoji Maharaj Nagpur University">
            Rashtrasant Tukadoji Maharaj Nagpur University [Nagpur]
          </option>
          <option value="Sant Gadge Baba Amravati University">
            Sant Gadge Baba Amravati University [Amravati]
          </option>
          <option value="Savitribai Phule Pune University">
            Savitribai Phule Pune University [Pune]
          </option>
          <option value="Shivaji Maharaj University">
            Shivaji Maharaj University [Kolhapur]
          </option>
        </select>
      </div>
      <div id="caste-input">
        <label>Caste</label><br />
        <select id="caste">
          <option value="open">Open</option>
          <option value="st">ST</option>
          <option value="sc">SC</option>
          <option value="vjnt">Vjnt</option>
          <option value="nt1">Nt1</option>
          <option value="nt2">Nt2</option>
          <option value="nt3">Nt3</option>
          <option value="ews">EWS</option>
          <option value="tfws">Tfws</option>
          <option value="mi">Mi</option>
          <option value="obc">Obc</option>
        </select>
      </div>
      <div id="branch-input">
        <label>Branch</label><br />
        <select id="branch">
          <option>Artificial Intelligence and Data Science</option>
          <option>Artificial Intelligence and Machine Learning</option>
          <option>Automation and Robotics</option>
          <option>Automobile Engineering</option>
          <option>Bio Medical Engineering</option>
          <option>Bio Technology</option>
          <option>Chemical Engineering</option>
          <option>Civil Engineering</option>
          <option>Computer Science and Engineering</option>
          <option>Computer Science and Engineering (Cyber Security)</option>
          <option>
            Computer Science and Engineering (Internet of Things and Cyber
            Security Including Block Chain Technology)
          </option>
          <option>Computer Science and Engineering (IoT)</option>
          <option>Data Science</option>
          <option>Electrical Engineering</option>
          <option>Electronics Engineering</option>
          <option>Electronics and Computer Science Engineering</option>
          <option>Electronics and Telecommunication Engineering</option>
          <option>Information Technology</option>
          <option>Instrumentation Engineering</option>
          <option>Internet of Things</option>
          <option>Mechanical Engineering</option>
          <option>Mechatronics Engineering</option>
        </select>
      </div>
      <div>
        <button id="predict-btn" type="button">Predict College</button>
      </div>
    </form>
  </div>

  <!-- list of colleges by score -->
  <div class="shortlist-clg">
    <div class="popup-top">
      <div id="shortlist-clg-heading" class="popup-head">
        List of Engg College in your District with Fees
      </div>
      <div id="cross3" class="cross-btn">&times;</div>
    </div>
    <div id="sort-btns">
      <div id="score-sort" class="sortbtn">Sort by Score</div>
      <div id="fees-sort" class="sortbtn">Sort by Fees</div>
    </div>
    <div id="shortlist-clg-names">
      <ul class="shortlist-clg-list" id="shortlist-clg-title">
        <li class="sr-no">Sr No.</li>
        <li class="college-code">Code</li>
        <li class="college-name">College Name</li>
        <li class="branch-name">Branch</li>
        <li class="fees-name">Fees</li>
        <li class="location">Location</li>
        <li class="score">Score</li>
      </ul>
    </div>
  </div>

  <!-- <div class="submission-form">
        <span id="cross5">&times;</span>
        Form Submitted Successfully. Contact JKB office for Result!!
      </div> -->

  <!-- College List Div -->
  <div class="college-list-popup">
    <div class="popup-top">
      <div id="college-list-div-heading" class="popup-head">
        List of Engg College in your District with Fees
      </div>
      <div id="cross2" class="cross-btn">&times;</div>
    </div>

    <form id="college-list-form">
      <div id="college-list-name-input">
        <label>Name</label>
        <input type="text" placeholder="Click here to enter Name" id="name-new" />
      </div>
      <div id="college-list-mail-input">
        <label>Email id</label>
        <input type="email" placeholder="Click here to enter Email" id="mail-new" />
      </div>
      <div id="college-list-contact-number-input">
        <label>Contact Number</label>
        <input type="number" placeholder="Click here to enter Contact Number" id="contact-new" />
      </div>
      <div id="college-list-address-input">
        <label>Candidate's Address (Area & City) </label>
        <input type="text" placeholder="Click here to enter Address" id="address-new" />
      </div>
      <div id="college-list-district-input">
        <label>District</label>
        <select id="district-new">
          <option>Ahmednagar</option>
          <option>Akola</option>
          <option>Amravati</option>
          <option>Aurangabad</option>
          <option>Beed</option>
          <option>Bhandara</option>
          <option>Buldhana</option>
          <option>Chandrapur</option>
          <option>Dhule</option>
          <option>Jalgaon</option>
          <option>Jalna</option>
          <option>Kolhapur</option>
          <option>Latur</option>
          <option>Mumbai City</option>
          <option>Mumbai Suburban</option>
          <option>Nagpur</option>
          <option>Nanded</option>
          <option>Nandurbar</option>
          <option>Nashik</option>
          <option>Navi Mumbai</option>
          <option>Osmanabad(Dharashiv)</option>
          <option>Palghar</option>
          <option>Parbhani</option>
          <option>Pune</option>
          <option>Raigad</option>
          <option>Ratnagiri</option>
          <option>Sangli</option>
          <option>Satara</option>
          <option>Sindhudurg</option>
          <option>Solapur</option>
          <option>Thane</option>
          <option>Wardha</option>
          <option>Washim</option>
          <option>Yavatmal</option>
          <option>Yelgaon</option>
        </select>
      </div>
      <div>
        <button id="search-clg-btn" type="button">Search College</button>
      </div>
    </form>
  </div>

  <!-- list of colleges by district -->
  <div class="shortlist-clg-new">
    <div class="popup-top">
      <div id="shortlist-clg-heading-new" class="popup-head">
        List of Engg College in your District with Fees
      </div>
      <div id="cross4" class="cross-btn">&times;</div>
    </div>

    <div id="shortlist-clg-names-new">
      <ul class="shortlist-clg-list-new" id="shortlist-clg-title-new">
        <li class="srno">Sr No.</li>
        <li class="uni">University</li>
        <li class="locn">Location</li>
        <li class="clgcode">Code</li>
        <li class="cname">College Name</li>
        <li class="ctype">College Type</li>
        <li class="fees">Fees</li>
      </ul>
    </div>
  </div>

  <div id="second-wrapper">
    <section id="wrap-left">
      <div class="achievements">
        <img src="/images/counselling.png" />
        <div>45,000+</div>
        <p>Counselling<br />Students</p>
      </div>
      <div class="achievements">
        <img src="/images/students.png" />
        <div>10,000+</div>
        <p>Students<br />Trained</p>
      </div>
      <div class="achievements">
        <img src="/images/startup.png" />
        <div>250+</div>
        <p>Start-Up<br />Projects<br />Completed</p>
      </div>
    </section>
    <section id="wrap-right">
      <ul>
        <li>
          Based on your score in JEE/CET predict a list of colleges where you
          can get admission, according to the CAP cut-offs.
        </li>
        <li>Enter your score and predict your college in just a few clicks.</li>
        <li>
          Select the best college from the predicted list to secure admission
          into the college which is best for you.
        </li>
      </ul>
    </section>
  </div>
</div>
<script src="/js/script.js"></script>
<script src="/js/index.js"></script>
<script src="/js/predict.js"></script>
<script src="/js/clg.js"></script>