:root {
  --bg-main: #020f16;
  --bg-sec: #0c171c;
  --bg-sec-light: #17242b;
  --accent-clr: #fa8b26;
  --font-clr: #eeeeee;
  --font-clr-light: #ffffff;
  --scroll-clr: #8d9599;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-main) !important;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0;
  background-color: var(--bg-main) !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05rem;
  color: var(--font-clr);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--scroll-clr) var(--bg-sec);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.3rem;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-clr);
  border-radius: 0.6rem;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

#container {
  position: relative;
  max-width: 2000px;
  padding: 0 0 2.5rem;
  margin: 0 auto;
}

#preloader {
  background: var(--bg-main) url(../images/loader.svg) no-repeat center center;
  background-size: 70px;
  height: 100dvh;
  width: 100%;
  position: fixed;
  z-index: 2;
}

nav {
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 2.5%;
  height: 2.5rem;
  z-index: 2;
  background-color: var(--bg-main);
  box-shadow: 0 0.25rem 0.4rem 0 rgba(0, 0, 0, 0.2);
}

#nav-left {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

#menu {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

#cross-icon {
  display: none;
}

#jkb-logo-menu {
  display: none;
}

#menu-icon {
  display: none;
}

#menu > li > a {
  text-decoration: none;
  cursor: pointer;
  color: var(--font-clr-light);
  font-weight: bold;
  padding: 0.5rem 0.75rem;
}

#courses > img {
  transform: scale(0.8) translateY(-0.1rem);
}

.rotatearrow {
  rotate: 180deg;
  transform: scale(0.8) translateY(0.1rem) !important;
}

#menu > li:nth-of-type(2) {
  position: relative;
}

#dropdown {
  position: absolute;
  left: 0;
  top: 2rem;
  width: max-content;
  background-color: var(--bg-sec-light);
  border-radius: 0.5rem;
  overflow: hidden;
}

.hidden {
  max-height: 0;
  transition: max-height ease-in-out 0.3s;
}

.show {
  max-height: 30rem;
  transition: max-height ease-in-out 0.3s;
}

#dropdown > a {
  display: block;
  color: var(--font-clr-light);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 1rem 0.75rem;
}

#dropdown > a:hover {
  background-color: #1c2a31;
  color: var(--accent-clr);
}

#menu > li > a:hover {
  background-color: var(--accent-clr);
  border-radius: 0.2rem 0.6rem;
}

#courses {
  background-color: var(--accent-clr);
  border-radius: 0.2rem 0.6rem;
}

#jkb-logo {
  height: 2.2rem;
  width: 3.8rem;
}

#social {
  display: flex;
  background-color: var(--bg-sec);
  border-radius: 1.25rem;
  width: 15rem;
  height: 2.4rem;
  justify-content: space-around;
  align-items: center;
}

.social-icons {
  height: 1.75rem;
  width: 1.75rem;
  margin: 0 0.25rem;
}

#phone {
  display: none;
}

#overlay {
  inset: 0;
  position: fixed;
  display: none;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Counselling page content */
#first-wrapper {
  background-color: var(--accent-clr);
  padding: 5rem 2.5% 2rem;
  color: var(--font-clr-light);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#video-sec {
  grid-row: 1/4;
  margin: auto;
}

#video-sec video {
  object-fit: cover;
  width: 92%;
  height: auto;
  background-color: black;
  border-radius: 2rem;
  text-align: center;
}

#heading-sec {
  font-size: 2.2rem;
  font-weight: bolder;
}

#info-sec {
  padding: 2rem 0 0 2rem;
}

#info-sec li,
#info-sec span {
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.5rem;
}

#info-sec b {
  font-size: 1.2rem;
  font-weight: bolder;
}

#info-sec li::before {
  content: "🛑 ";
}

#img-text-div {
  margin: 1rem 0;
}

#img-text-div div {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

#enroll-sec {
  display: flex;
  justify-content: flex-end;
}

#contact-us-btn {
  font-size: 1.25rem;
  padding: 0.6rem 2.5rem;
  border-radius: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  border: 0;
  color: var(--accent-clr);
  background-color: var(--font-clr);
  cursor: pointer;
}

#info-sec img {
  height: 2.5rem;
  width: 2.5rem;
}

#middle-wrapper {
  padding: 1.5rem 2.5%;
  background-color: #000000;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

#middle-wrapper div {
  font-size: 1.5rem;
  font-weight: bolder;
}

#predict-btn {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--accent-clr);
  color: var(--font-clr-light);
  border: 0;
  font-size: 1.25rem;
  font-weight: bolder;
  padding: 0.7rem 2rem;
  width: fit-content;
  border-radius: 1rem;
}

#second-wrapper {
  margin: 2rem 2.5%;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 55% 1fr;
}

#wrap-left {
  height: 15rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.achievements {
  display: grid;
  text-align: center;
  grid-template-rows: 44% 19% 40%;
  background-color: var(--bg-sec-light);
  border-radius: 2rem;
}

.achievements img {
  object-fit: contain;
  margin: auto auto 0;
  transform: scale(0.7);
}

.achievements div {
  font-size: 1.25rem;
  font-weight: bolder;
  margin: auto;
  color: var(--accent-clr);
}

.achievements div::after {
  content: "+";
}

.achievements p {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0.5rem auto auto;
  line-height: 1.3rem;
}

.achievements:last-of-type p {
  margin-top: 0.3rem;
}

#wrap-right {
  max-height: 15rem;
  box-sizing: border-box;
  padding: 1.25rem 1.6rem;
  border-radius: 1.25rem;
  background-color: var(--bg-sec);
}

#wrap-right h3 {
  font-size: 1.1rem;
  font-weight: bolder;
  color: var(--accent-clr);
  margin-bottom: 0.6rem;
}

#wrap-right p {
  padding-left: 1.3rem;
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: lighter;
}

#wrap-right > ul {
  margin-left: 0.5rem;
  font-size: 1.1rem;
  height: 100%;
  overflow: auto;
}

#wrap-right > ul > li {
  list-style-position: outside;
  list-style-type: disc;
  font-weight: bolder;
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
}

#wrap-right > ol > li {
  font-weight: bolder;
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
}

#testimonials {
  margin: 2.5rem 2.5% 0;
}

#testimonials h1 {
  font-size: 1.6rem;
  font-weight: bolder;
  color: var(--accent-clr);
  text-align: center;
  margin: 2rem 0;
}

#videos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.video-box iframe {
  width: 12.5rem;
  height: 11.25rem;
  background-color: black;
  border-radius: 1rem;
}

.video-box div {
  text-align: center;
  margin: 0.3rem;
}

#contact-popup {
  inset: 10vh 15% auto;
  border: 0.15rem solid var(--accent-clr);
  background-color: var(--bg-main);
  color: var(--font-clr-light);
  width: 70%;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 2rem;
  position: absolute;
  z-index: -1;
}

#cross {
  float: right;
  font-size: 2.5rem;
  line-height: 2rem;
  cursor: pointer;
}

#contact-head {
  color: var(--accent-clr);
  font-size: 2rem;
  font-weight: bolder;
}

#contact-form > div {
  margin: 0.8rem 0;
}

#contact-form label {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 2.5rem;
}

#contact-form input {
  border: 0;
  width: 100%;
  border-radius: 0.8rem;
  box-sizing: border-box;
  padding: 0.6rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-sec-light);
  color: var(--font-clr);
}

#contact-form input:focus {
  outline: none;
}

#contact-form button {
  background-color: var(--accent-clr);
  border: 0;
  border-radius: 0.8rem;
  padding: 0.5rem 1.5rem;
  margin: 1rem 0 0;
  color: var(--font-clr-light);
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  cursor: pointer;
}

#contact-form > div:nth-of-type(6) {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

#contact-form > div:last-of-type {
  display: none;
  justify-content: center;
  margin-top: 1.2rem;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.3rem;
  color: orangered;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1900px) {
  html {
    font-size: 20px;
  }
}

@media only screen {
  /* For Tablet View */
  @media (max-width: 1200px) {
    html {
      font-size: 13px;
    }

    #container {
      padding: 0 0 3rem;
    }

    nav {
      justify-content: flex-start;
      height: 4rem;
    }

    #nav-left {
      width: 100%;
      justify-content: space-between;
    }

    #menu-icon {
      display: block;
      width: 2.5rem;
      min-width: 2rem;
      aspect-ratio: 1/1;
      cursor: pointer;
    }

    #jkb-logo {
      margin-right: auto;
      width: clamp(3.33rem, 4.5rem, 4.7rem);
      height: 2.5rem;
      aspect-ratio: 1.7;
    }

    #social {
      height: 3rem;
      width: 18rem;
    }

    .social-icons {
      height: 2rem;
      width: 2rem;
    }

    #phone {
      display: block;
    }

    #overlay {
      inset: 0;
      position: fixed;
      display: none;
      z-index: 3;
      background-color: rgba(0, 0, 0, 0.6);
    }

    #menu {
      background-color: var(--bg-sec-light);
      position: fixed;
      inset: 0 60% 0 0;
      display: block;
      z-index: 5;
      flex-direction: column;
      overflow-y: auto;
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
    }

    #menu::-webkit-scrollbar {
      width: 0 !important;
    }

    .showmenu {
      transform: translateX(0);
      transition: transform ease-in-out 0.15s;
    }

    .hidemenu {
      transform: translateX(-100%);
      transition: transform ease-in-out 0.15s;
    }

    #cross-icon {
      display: block;
      margin: 1.2rem;
      height: 2.5rem;
      width: 2.5rem;
      cursor: pointer;
    }

    #jkb-logo-menu {
      display: block;
      margin: 2rem auto 1rem;
      height: 5rem;
      width: 8rem;
    }

    #menu > li {
      margin: 4rem 1.5rem;
    }

    #menu > li > a {
      font-size: 1.4rem;
    }

    #menu > li > a:active {
      color: var(--accent-clr);
    }

    #menu > li > a:active > img {
      filter: invert(52%) sepia(97%) saturate(675%) hue-rotate(344deg)
        brightness(103%) contrast(96%);
    }

    #menu > li > a:hover {
      background-color: transparent;
    }

    #courses {
      padding-bottom: 0.5rem;
    }

    #dropdown {
      position: static;
      box-sizing: border-box;
      background-color: transparent;
    }

    .show {
      max-height: 32rem;
    }

    #dropdown > a {
      font-size: 1.1rem;
      padding-left: 2rem;
    }

    #dropdown > a:hover {
      background-color: transparent;
    }

    #dropdown > a:first-of-type {
      padding-top: 2rem;
    }

    #dropdown > a:last-of-type {
      padding-bottom: 0;
    }

    #courses {
      background-color: var(--bg-sec-light);
      color: var(--accent-clr) !important;
    }

    #courses > img {
      filter: invert(52%) sepia(97%) saturate(675%) hue-rotate(344deg)
        brightness(103%) contrast(96%);
    }

    /* Counselling page content */
    #first-wrapper {
      grid-template-columns: 1fr;
      padding: 6rem 0 0;
    }

    #heading-sec {
      padding: 0 2.5%;
      font-size: 2rem;
      line-height: 2.25rem;
      grid-row-start: 1;
      text-align: center;
    }

    #video-sec {
      margin: 2rem 0 3rem;
      grid-row: 2/3;
      display: flex;
      justify-content: center;
    }

    #video-sec video {
      width: 70%;
    }

    #enroll-sec {
      justify-content: center;
      grid-row: 3/4;
      background-color: var(--bg-main);
    }

    #contact-us-btn {
      transform: translateY(-1.5rem);
    }

    #info-sec {
      background-color: var(--bg-main);
      padding: 0 2rem 2rem;
    }

    #info-sec li,
    #info-sec span {
      font-size: 1.2rem;
    }

    #info-sec ul {
      text-align: center;
      padding-bottom: 1.5rem;
    }

    #info-sec li {
      line-height: 2rem;
    }

    #info-sec li::before {
      content: "";
    }

    #info-sec > div {
      margin: 0 10%;
      padding: 1rem 5%;
      background-color: var(--bg-sec);
      border-radius: 1rem;
    }

    #img-text-div {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.8rem;
    }

    #img-text-div div {
      margin: 0;
    }

    #second-wrapper {
      grid-template-columns: 1fr;
      margin: 3rem 2.5%;
    }

    .achievements {
      margin: 0 auto;
      width: 16rem;
      grid-template-rows: 50% 15% 35%;
    }

    .achievements img {
      transform: scale(0.6);
    }

    .achievements:last-of-type img {
      translate: 0 0.4rem;
    }

    #wrap-right {
      max-height: fit-content;
    }

    #wrap-right h3 {
      font-size: 1.3rem;
    }

    #wrap-right p {
      padding-left: 1.5rem;
      font-size: 1.1rem;
      line-height: 1.3rem;
      margin-top: 0.2rem;
    }

    #wrap-right > ul {
      margin-left: 0;
      font-size: 1.2rem;
      height: 100%;
    }

    #wrap-right > ul > li {
      line-height: 1.5rem;
    }

    #wrap-right > ol > li {
      line-height: 1.5rem;
    }

    #videos {
      flex-wrap: nowrap;
      overflow-x: scroll;
      justify-content: flex-start;
      scroll-snap-type: x mandatory;
    }

    .video-box {
      scroll-snap-align: start;
    }

    .video-box iframe {
      height: 15rem;
      width: 16rem;
      margin-bottom: 1rem;
    }

    #contact-popup {
      inset: 10vh 10% auto;
      width: 80%;
    }

    @media (max-width: 768px) {
      #info-sec > div {
        margin: 0 0;
      }

      #wrap-left {
        height: 13rem;
      }

      .achievements {
        margin: 0;
        width: auto;
        grid-template-rows: 45% 15% 40%;
      }

      .achievements img {
        transform: scale(0.6);
        margin-bottom: 1.2rem;
      }

      .achievements div {
        margin-bottom: 0;
      }
    }

    /* For Mobile View */
    @media (max-width: 600px) {
      html {
        font-size: 13px;
      }

      #menu {
        inset: 0 30% 0 0;
      }

      /* Counselling page content */
      #video-sec video {
        width: 95%;
      }

      #heading-sec {
        font-size: 1.6rem;
      }

      #info-sec li {
        margin-bottom: 0.6rem;
      }

      #middle-wrapper {
        padding: 1.5rem 2.5%;
        gap: 2rem;
      }

      #wrap-left {
        gap: 1rem;
        height: 100%;
        grid-template-columns: repeat(4, 1fr);
      }

      .achievements {
        grid-column: span 2;
      }

      .achievements:last-child {
        grid-column: 2/4;
      }

      .achievements img {
        transform: scale(0.5);
      }

      .achievements div {
        font-size: 1.3rem;
      }

      .achievements p {
        font-size: 1rem;
      }

      .video-box iframe {
        height: 14rem;
        width: 15rem;
      }

      #contact-popup {
        inset: 10vh 2.5% auto;
        width: 95%;
      }

      @media (max-width: 400px) {
        html {
          font-size: 11px;
        }

        .video-box iframe {
          height: 13rem;
          width: 14rem;
        }

        @media (max-width: 300px) {
          html {
            font-size: 10px;
          }

          .video-box iframe {
            height: 12rem;
            width: 13rem;
          }
        }
      }
    }
  }
}
